* {
    margin: 0;
    padding: 0;
}

.main-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: #000;
    gap: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.home-btn{
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 16px;
    padding: 5px;
    border-radius: 12px;
    font-weight: 600;
    background-color: rgb(159, 240, 213);
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid black;
    transition: all 0.2s ease-out;
}

.home-btn:hover{
    transform: scale(1.1);
    background-color: aquamarine;
}

.detail-pokemon-info {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 112, 114);
    box-shadow: 16px 16px 21px rgb(0, 0, 0), 6px 6px 12px rgb(255, 255, 255);

    border-radius: 12px;
}

.detail-pokemon-info h1 {
    font-size: 8rem;
    text-transform: uppercase;
}

.detail-pokemon-info h3 {
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

.type-pokemon{
    border: 1px solid black;
    background-color: wheat;
    color: black;
    margin-left: 1rem;
    font-size: 2rem;
    padding: 4px 13px;
}

.detail-pokemon-info h4 {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 8px;
}



.detail-pokemon-img {
    box-shadow: 16px 16px 21px rgb(0, 0, 0), 6px 6px 12px rgb(255, 255, 255);
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(109, 98, 98);
}

.detail-pokemon-img img {
    width: 70%;
}