.pokemon-card{
    border: 1px solid black;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 2.5rem;
    border-radius: 12px;
    background-color:bisque;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
.pokemon-card:hover{
    background-color: burlywood;
}
.pokemon-name{
    letter-spacing: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.pokemon-image-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    transition: all 0.3s linear;
}
.pokemon-image-container:hover{
    transform: scale(0.8);
}

.pokemon-image{
    width: 80%;
    height: 100%;
}